.home-section {
  width: 85%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-home {
  width: 55%;
  opacity: 0.3;
}

@media (min-width: 1024px) {
  .logo-home {
    width: 40%;
  }
}