.menuTitle {  
  width: 100%;
}
h1 {
  color: var(--main-color2);
  text-align: center;
  margin-top: 9%;
  font-size: 2.2rem;
  font-weight: bold;
}

select#userTable {
  margin-left: 10%;
  font-size: 1.2rem;
  display: flex;
  justify-content: flex-start;
  padding: 0.5% 1%;
  border: 1px solid var(--main-color1);
  margin-bottom: 2%;
  margin-top: 5%;
}

label.customer {
  margin-left: 10%;
  margin-right: 2%;
  font-size: 1.2rem;
  font-weight: bold;
}

input#inputNameClient {
  font-size: 1rem;
  padding: 0.9% 4%;
  border: 1px solid var(--main-color1);
  border-radius: 5px;
  text-align: center;
}
