.menu {
  width: 50%;
  display: inline-block;
  margin-top: 3%;
}
.menu ul {
padding: 0;
margin: 0;
}
.menu ul li {
  list-style: none;
  display: grid;
  grid-template-columns: 4fr 3fr;
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  margin-left: 15%;
}

.menu input{
  margin-right: 1rem;
}
.menu ul li p:last-child{
  font-weight: 800;
}
.line {
  width: 100%;
  margin-top: 15%;
}

hr {
    border: 1px solid var(--main-color2);
    width: 100%;
}

/*******cambios recientes*********/

.types-title-menu {
  text-align: left;
  margin-left: 15%;
}

.menu-item p{
  font-size: 1rem;
}

.menu-item-btn {
  background: none;
  border: 1px solid var(--main-color2);
  border-radius: 15px;
  padding: 1rem;
  cursor: pointer;
  /* display: flex;
  justify-content: center; */
}

/* .menu-item-name{
  margin-right: 1rem;
} */
