.menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 8%;
  margin-bottom: 2%;
  width: 60%;
  font-size: 18px;
  font-weight: 300;
}

.line {
  width: 100%;
  margin-top: 15%;
}

hr {
    border: 1px solid var(--main-color2);
    width: 100%;
}
