.menu {
  width: 50%;
  display: inline-block;
}
.menu ul {
padding: 0;
margin: 0;
}
.menu ul li {
  border-radius: 20px;
  list-style: none;
  background-color: #F7D266;
  margin-bottom: 5px;
  margin-right: 5px;
  padding: 2rem 1rem;
  align-items: center;
  justify-content: center;
}
.menu ul li p{
  display: block;
  width: 100%;
  text-align: center;
}

.menu input{
  margin-right: 1rem;
}
.menu ul li p:last-child{
  font-weight: 800;
}
.line {
  width: 100%;
  margin-top: 15%;
}

hr {
    border: 1px solid var(--main-color2);
    width: 100%;
}

